{% extends 'base.html' %}

{% block title %}{{ Poll }}{% endblock %}

{% block menu %}

    <li><a href="{% url 'update_poll' poll.pk %}">Edit</a></li>
    <li><a href="{% url 'create_poll' %}">Create poll</a></li>

{% endblock %}

{% block content %}

    <table style="width: 100%">
        <tr>
            <th>
                Question
            </th>
            <th>
                 Poll creation date
            </th>
        </tr>
        <tr>
            <td>
                {{ poll.question }}
            </td>
            <td>
                 {{ poll.created_at }}
            </td>
        </tr>
    </table>
    <hr/>

     <h5>Choices:</h5>

    <p class="text-center">
        <a href="{% url 'add_answer' poll.pk %}">Answer</a>
    </p>
    {% for choice in choices %}
    <div class="radio">
         <label>{{ choice.varText}}</label>
         <a href="{% url 'update_choice' choice.pk %}">Edit</a>
         <a href="{% url 'delete_choice' choice.pk %}">Delete</a>
    </div>

    {% empty %}
        <p>No choices yet.</p>
    {% endfor %}
     <form action="{% url 'poll_choice_create' poll.pk%}" method="POST" id="add_choice">
            {% include 'partial/form.html' with button_text='Add' %}
</form>
{% endblock %}